openapi: "3.0.1"
info:
  title: "bna-api"
  description: "BNA API"
  version: "2023-04-21 00:58:00UTC"
  license:
    name: MIT
    url: "https://api.peopleforbikes.xyz/{basePath}"
tags:
  - name: tag name
    description: |
      tag description.
servers:
  - url: "https://api.peopleforbikes.xyz/{basePath}"
    variables:
      basePath:
        default: ""
    x-amazon-apigateway-endpoint-configuration:
      disableExecuteApiEndpoint: true
paths:
  /bnas:
    get:
      responses:
        default:
          description: "Default response for GET /bnas"
  /bnas/{bna_id}:
    get:
      responses:
        default:
          description: "Default response for GET /bnas/{bna_id}"
    parameters:
      - name: "bna_id"
        in: "path"
        description: "Generated path parameter for bna_id"
        required: true
        schema:
          type: "string"
          format: "uuid"
  /bnas/{bna_id}/city:
    get:
      responses:
        default:
          description: "Default response for GET /bnas/{bna_id}/city"
    parameters:
      - name: "bna_id"
        in: "path"
        description: "Generated path parameter for bna_id"
        required: true
        schema:
          type: "string"
          format: "uuid"
  /cities:
    get:
      responses:
        default:
          description: "Default response for GET /cities"
  /cities/{city_id}:
    get:
      responses:
        default:
          description: "Default response for GET /cities/{city_id}"
    parameters:
      - name: "city_id"
        in: "path"
        description: "Generated path parameter for city_id"
        required: true
        schema:
          type: "string"
  /cities/{city_id}/bnas:
    get:
      responses:
        default:
          description: "Default response for GET /cities/{city_id}/bnas"
    parameters:
      - name: "city_id"
        in: "path"
        description: "Generated path parameter for city_id"
        required: true
        schema:
          type: "string"
