name: lambdas

defaults:
  run:
    working-directory: lambdas

on:
  pull_request:
    paths:
      - ".github/workflows/lambdas.yml"
      - "lambdas/**"
      - "!lambdas/requests.rest"
    types:
      - opened
      - synchronize
      - reopened

permissions:
  # This is required for requesting the JWT.
  id-token: write
  # This is required for actions/checkout.
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rustfmt
      - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2
      - run: cargo fmt --check
      - run: cargo clippy -- -D warnings
      - run: cargo check
      - run: cargo doc --no-deps

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2
      - run: cargo test

  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2
      - name: Install cargo lambda
        run: pip install cargo-lambda
      - run: cargo lambda build

  deploy:
    runs-on: ubuntu-latest
    needs:
      - lint
      - test
      - build
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2
      - name: Install cargo lambda
        run: pip install cargo-lambda

      # Configure AWS and deploy the lambdas.
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ secrets.LAMBDA_DEPLOY_GITHUB_ROLE_ARN_STAGING }}
          aws-region: ${{ secrets.AWS_REGION_STAGING }}

      # Build the lambdas in release mode and deploy them.
      - name: Build all lambdas
        run: cargo lambda build --release
      - name: Deploy lambdas
        run: >
          cargo lambda deploy --iam-role ${{ secrets.BNAAPI_ROLE_ARN_STAGING }} axumed
      - name: Deploy lambdas
        run: >
          cargo lambda deploy --iam-role ${{ secrets.BNAAPI_ROLE_ARN_STAGING }}
          secret-tester
